.HeroCard {
  border: solid 1px rgba(255, 255, 255, 0.4);
  padding: 8px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.ProjectCard {
  border-radius: 30px;
  padding: 30px;
  width: min-content;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #0b1224;
  margin-bottom: 30px;
  overflow: hidden;

  &__Img {
    &LG {
      height: 522px;
      width: 522px;
    }
    &MD {
      height: 367px;
      width: 367px;
    }
    &SM {
      height: 225px;
      width: 225px;
    }

    &LG,
    &MD,
    &SM {
      border-radius: 30px;
      background-color: white;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
