@tailwind base;
@tailwind components;
@tailwind utilities;

// font-family: 'DM Sans', sans-serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Space Grotesk', sans-serif;

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
