@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey-text: #5e5e63;
}

.container {
  margin: 0 auto;
}

.gradientText {
  letter-spacing: -1.25px;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(141deg, #969699, #1e1e22);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 70px;
  font-weight: bold;
}
