@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  // font-family: "Rancho", cursive;
  scroll-behavior: smooth;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
